/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* Commont Style Utilitis */
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Logo design  */
.logo{
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 48px;
    width: 151px;
    height: 101;
}
#navigation li a{
    font-weight: 500;
    font-size: 24px;
    color:#957554;
}
.search-icon{
    font-size: 30px;
}
.search-field{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 20px;
}
.input-field{
    outline: 0;
    border: 3px solid #DFAA5B;
    border-radius: 20px;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px 10px;
    display: none;
}
#check-box:checked ~ .input-field{
    display: block;       
}

/* style booking start  */
.booking-container{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #111111;
    height: 119px;
    justify-content: center;
    color: #fff; 
    display: flex;
    flex-wrap: wrap;
}
.hotel-booking{
    display: flex;
}
.hotel-booking select{
    outline: none;
    width: 192px;
    height: 60px;
    border-radius: 10px;
    border: 2px solid #DFAA5B;
    background-color: #fff;
    margin-right: 13px;

}
.hotel-booking input {
    outline: none;
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid #DFAA5B;
    width: 192px;
    height: 60px;
    margin-right: 13px;
}
.hotel-booking p{
    background-color:#DFAA5B;
    padding: 15px 10px;
    border-radius: 10px;
    border: 2px solid #DFAA5B;
    width: 192px;
    height: 60px;
}

/* Banner Start  */
.banner{
    background: url('../images/banner.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner h1{
    font-size: 80px;
    font-weight: 700;
}
.banner p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}
.banner .explore-btn{
    padding: 12px 80px;
    color: #fff;
    background-color:#DFAA5B;
    border-radius: 12px;
    border: none;
    outline: none;
}

/* Facilities Style Start  */
.facilities{
    background: #fff;
    border-radius: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 290px;
    margin: 0 auto;
    position: relative;
    top: -138px;
}
.facilities>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.facilities>div h5, img{
    margin-bottom: 16px;
    color: #957554;
    font-size: 24px
;
}